

<div>
    <div>
        <nav class="navbar text-bg-success border-bottom border-body  sticky-bottom">
            <div class="container-fluid">
              <a class="navbar-brand">CAR</a>
              <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
              </form>
            </div>
          </nav>
    </div>
    <br>
    <div class="container-fluid " >
      <div class=" card  w-75 mb-7 p-3 shadow p-3 mb-5 bg-body-tertiary rounded">
        <form action="" >
            <label for="" >Sudent Name:</label> 
            <input class="form-control col-md-6 " type="text" placeholder="Enter Text" aria-label="Disabled input example"  type="text" name="carname" id="" [(ngModel)]="carName"> <br/>
            <button class="btn btn-secondary btn-sm me-md-2 " (click)="addCar()">Submit</button>
        </form>
    </div>
    
    <br/><br/>
    
    <app-list [carsInput]="cars">
    </app-list>
    </div>
    
</div>
